<h4>ORDERS/INDEX.HBS</h4>

<form {{action "createOrder" model on="submit"}}> <!-- model passed -->
	<label for="name">Name</label>
	{{input type="text" id="name" value=model.name}}
	
	{{#each model.items as |item|}}
		<label>
			{{item.product.title}}
			{{input type="number" min="0" value=item.quantity}}
			<button {{action "addToItemQuantity" item 10}}>+10</button> {{!-- 2 arguments are passed here --}}
		</label>
	{{/each}}
	<button type="submit">Order</button>
</form>

<h4>ORDERS/INDEX.HBS</h4>
